{% extends "../base.html" %} {% block content %}

{% block title %}Команды{% endblock %}


{% for team in teams %}

{% set team_index = loop.index %}

<div class="col-md-4 col-sm-6 teamcard">
    <div class="thumbnail">
        <div class="col-md-4 col-sm-12">
            {% if team.image %}
                <img src="{{ team.image.url }}" class="img-responsive">
            {% else %}
                <img src="/static/no-avatar.gif" class="img-responsive">
            {% endif %}
            <ul class="team-list">
                Участники:
                {% for member in team.members %}
                <li>{{ member }}</li>
                {% endfor %}
            </ul>
            <button class="btn btn-default" data-toggle="modal" data-target="#top_photos{{loop.index}}">Фото с топами{% if team.top_photos.all.length > 0 %}({{team.top_photos.all.length}}){% endif %}</button>
        </div>
        <div class="col-md-offset-4">
            <h3 class="text-center">Команда: <strong>{{ team.num }} - {{ team.id }}</strong></h3>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Зона</td>
                        <td>{{ team.zone }}</td>
                    </tr>
                    <tr>
                        <td>Баллы</td>
                        <td>{{ team.scores }}</td>
                    </tr>
                    <tr>
                        <td>Баллы за фото</td>
                        <td>{{ team.image_scores }}</td>
                    </tr>
                    <tr>
                        <td>Время</td>
                        <td>{{ team.time_minutes }}</td>
                    </tr>
                    <tr>
                        <td>Квест пройден</td>
                        <td>{{ team.quest_completed }}</td>
                    </tr>
                </tbody>
            </table>

            {% if team.members %}
                <div class="registered">Команда в игре</div>
            {% else %}
            <div class="not_registered">Команда не зарегистрирована</div>
            {% endif %}
        </div>
    </div>
</div>

{% if loop.index %3 == 0 %}
    <div class="clearfix visible-md-block visible-lg-block"></div>
{% endif %}

<!-- Modal -->
<div class="modal" id="top_photos{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg tophotos" role="document">
        <div class="modal-content"  ng-controller="topPhotos">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                        <a href="javascript:;" class="slides-close" ng-click="showBig(0)"  ng-show="bigPhoto">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            к списку фото
                        </a>
                        Фото с топами команды {{team.id}}
                    </h4>
            </div>

            <div class="modal-body">

                {% for photo in team.top_photos.all %}
                <div class="photo-preview col-md-3 col-sm-4 col-xs-6" ng-click="showBig({{loop.index-1}});" ng-show="!bigPhoto">
                    <img src="{{photo.image.url}}" class="img-responsive">
                    <h4>Баллы: {{photo.scores}}</h4>
                </div>
                {% endfor %}

                <div class="clearfix"></div>



                <div id="myCarousel{{team_index}}" class="carousel slide" data-ride="carousel" ng-show="bigPhoto">

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for photo in team.top_photos %}
                        <li data-target="#myCarousel{{team_index}}" data-slide-to="{{loop.index-1}}" ng-class="{'active':currentSlide=={{loop.index-1}} }"></li>
                        {% endfor %}
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        {% for photo in team.top_photos.all %}
                        <div class="item" ng-class="{'active':currentSlide=={{loop.index-1}} }">
                            <img src="{{photo.image.url}}" alt="">
                            <h4>Баллы: {{photo.scores}}</h4>
                        </div>
                        {% endfor %}

                    </div>


                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel{{team_index}}" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel{{team_index}}" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- Modal ends -->

{% endfor %}

<!-- end of team card -->


{% endblock %}
