{% extends "../base.html" %}

{% block title %}Список команд{% endblock %}

{% block content %}
    <div class="col-md-6 col-md-offset-3">
        <table class="table teamids">
            {% for team in teams %}

            <tr>
                <td>{{ team.num }}</td>
                <td>{{ team.id }}</td>
            </tr>



            {% endfor %}
        </table>
    </div>
{% endblock %}
