{% extends "../base.html" %}


{% block title  %}Фото с топами{% endblock %}


{% block content  %}

    {% for photo in photos %}
        <div class="col-md-3 photo-form">
            <div class="thumbnail">
                <img src="{{photo.image.url}}" class="responsive" data-toggle="modal" data-target="#modal{{loop.index}}">
                <form action="/topphotos/{{ photo.id }}/" method="post" class="form-inline">
<!--                    { % csrf_token % }-->
<!--                    { % bootstrap_form form exclude='photo_id' % }-->
<!--                    { % buttons % }-->
                        <input type="number" name="scores" class="form-control">
                        <button type="submit" class="btn btn-primary">
<!--                            { % bootstrap_icon "star" % } -->
                            Submit
                        </button>
<!--                    { % endbuttons % }-->
                </form>
            </div>
        </div>


<!-- Modal -->
<div class="modal" id="modal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog tophotos one-image-modal" role="document">
        <div class="modal-content"  ng-controller="topPhotos">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<!--                <h4 class="modal-title" id="myModalLabel"></h4>-->
            </div>
            <div class="modal-body text-center">
                <img src="{{photo.image.url}}" class="img-responsive">
            </div>

        </div>
    </div>
</div>
<!-- Modal ends -->


    {% endfor %}

{% endblock %}
