{% extends "../base.html" %}

{% block title %}Зоны{% endblock %}

{% block content %}

    {% for zone in zones %}
    <div class="row ">
        <h3>Зона: {{ zone.id }}</h3>
        {%for waypoint in zone.waypoints %}
        <div class="col-lg-2 col-md-3 col-sm-4">
            <div class="thumbnail qrcode">
                <img src="{{ waypoint.qr_code.url }}" alt="{{ waypoint.title }}" class="responsive">
                <h4>{{ waypoint.title }}</h4>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

{% endblock %}
