.navbar-brand.active span {
    color: rgb(212, 77, 77);
}

.navbar.navbar-default {
    box-shadow: 0px 0px 5px black !important;
}

.navbar ul.navbar-nav li a {
    color: whitesmoke;
}

.navbar ul.navbar-nav li.active a,
.navbar ul.navbar-nav li.active a:hover
 {
    border-radius: 25px 0px;
    background-color: rgba(255, 4, 4, 0.36);
}

.navbar ul.navbar-nav li a {
    transition: border-radius 0.3s;
}
.navbar ul.navbar-nav li a:hover {
    background-color: rgba(165, 42, 42, 0.36);
    border-radius: 25px 0px;
    border-radius: 25px !important;
}

.navbar a.navbar-brand {
    color: white;
    transition: color 0.3s;
}

.navbar a.navbar-brand:hover{
    color: rgba(255, 4, 4, 0.7);
    transition: color 0.1s;
}

.container-fluid {
    margin-top: 50px;
    text-align: center;
}

.teamcard{
/*    float: none;*/
/*    display: inline-block;*/
    vertical-align: top;
    min-width: 350px !important;
/*    max-width: 650px !important;*/
}

.teamcard>div:first-child {
    position: relative;
/*    min-width: 350px !important;*/
    float: none !important;
    display: inline-block !important;
    box-shadow: 0 0 5px 0px silver;
}

.teamcard>.thumbnail>div:first-child>button{
    white-space: normal;
    margin-bottom: 10px;
}

.teamcard img {
    min-width: 100px;
}

.teamcard .not_registered{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: red;
}


.team-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    color: gray;
}

.team-list li {
    display: inline-block;
    color: #555;
}

.team-list li:not(:last-of-type)::after {
    content: ",";
}

.tophotos .modal-content {
    color: white;
    background-color: rgba(126, 126, 126, 0.85);
    box-shadow: none;
}

.tophotos .modal-header {
    border: none;
}

.tophotos .modal-content .close {
    color: white;
    font-size: 140%;
    opacity: 1;
}

.tophotos .photo-preview img {
    margin-bottom: 10px;
    cursor: pointer;
}
.tophotos .photo-preview h4{

}


.slides-close {
    padding: 15px 30px;
    white-space: nowrap;
    font-weight: bold;
    opacity: 0.4;
    transition: opacity 0.2s;
    color: white;
    text-decoration: none;
    transition: width 0.3s;
}

.slides-close:hover {
    opacity: 0.7;
    text-decoration: none;
    text-shadow: 0 0 15px white;
}


.carousel-inner .item img {
    margin: auto;
}

a.carousel-control{
    background-image: none !important;
}
a.carousel-control span{
    transition: font-size 0.3s;
}
a.carousel-control:hover span{
    font-size: 50px !important;
    transition: font-size 0.3s;
}



.teamids td{
    text-align: center;
    width: 50%;
}

.qrcode {
    display: inline-block;
    padding: 10px;
}

.qrcode h4 {
    margin-bottom:5px;
}


.photo-form .thumbnail{
    display: inline-block;
}

.photo-form img{
    height: 400px;
    margin: auto;
    cursor: pointer;
}

.photo-form form {
    margin: 10px;
}

.photo-form input[type='number']{
    max-width: 120px;
}

.one-image-modal img{
    margin: auto;
}
