<html ng-app="app" ng-controller="dummy">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

<!--   заменить на { %load bootstrap3% } -->
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!--   заменить на { %load bootstrap3% } -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script>
        angular.module('app', []).controller('dummy', function ($scope) {

        }).controller('topPhotos', function($scope){
            $scope.bigPhoto = false;
            $scope.currentSlide = 0;
            $scope.showBig = function(index) {
                $scope.bigPhoto = !$scope.bigPhoto;
                $scope.currentSlide = index;
                console.log('--- test bigPhoto: ', $scope.bigPhoto);
            };
        })
    </script>

<!--    <link href="/static/main.css" rel="stylesheet" type="text/css">-->
    <style>
        {% include '../static/main.css' %}
    </style>

</head>

<body>

<!--   menu   -->
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand {%if page == 'main' %}active{% endif %}" href="/"><span>Квест</span></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{% if page == 'teamlist' %}active{% endif %}">
                        <a href="/teamlist">Список id команд</a>
                    </li>
                    <li class="{% if page == 'zones' %}active{% endif %}">
                        <a href="/zones">Список зон и QR-коды</a>
                    </li>
                    <li class="{% if page == 'topphotos' %}active{% endif %}">
                        <a href="/topphotos">Фото с топами</a>
                    </li>
                    <li>
                        <a href="/admin">Админ-панель</a>
                    </li>
<!--
                    <li>
                        <a href="#">Contacts</a>
                    </li>
-->
                </ul>
            </div>
        </div>
    </div>
<!--   /menu   -->


    <div class="section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">

                            {% block content %}


                            {% endblock %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>

</html>
