<html ng-app="app" ng-controller="dummy">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="main.css" rel="stylesheet" type="text/css">

    <script>
        angular.module('app', []).controller('dummy', function ($scope) {
            $scope.bigPhoto = false;
            $scope.test = function (bigPhoto) {
                $scope.bigPhoto = !$scope.bigPhoto;
                console.log('--- test bigPhoto: ', $scope.bigPhoto);
            };
        });
    </script>

</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span>Квест</span></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#/teamlist">Список id команд</a>
                    </li>
                    <li class="navbar-link">
                        <a href="#/zones">Список зон и QR-коды</a>
                    </li>
                    <li class="navbar-link">
                        <a href="#/topphotos">Фото с топами</a>
                    </li>
                    <li>
                        <a href="#/admin">Админ-панель</a>
                    </li>
                    <li>
                        <a href="#">Contacts</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel ">
                        <div class="panel-body">

                            <!-- begin of team card -->
                            <div class="col-md-4 col-sm-6 teamcard" ng-repeat="item in [1,3,4,5,6,7,8,9,10,11,12,13,14]">
                                <div class="thumbnail">
                                    <div class="col-md-4 col-sm-12">
                                        <img src="http://138.68.84.25:8000/media/photos/got-back-from-a-conference.jpg" class="img-responsive">
                                        <ul class="team-list">Участники:
                                            <li>Иван Иванов</li>
                                            <li>Пётр Петров</li>
                                        </ul>
                                        <button class="btn btn-default" data-toggle="modal" data-target="#myModal">Фото с топами</button>
                                    </div>
                                    <div class="col-md-offset-4">
                                        <h3 class="text-center">Команда: UXP82A21</h3>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>Зона</td>
                                                    <td>Игровая зона № 1</td>
                                                </tr>
                                                <tr>
                                                    <td>Баллы</td>
                                                    <td>10016</td>
                                                </tr>
                                                <tr>
                                                    <td>Баллы за фото</td>
                                                    <td>3147</td>
                                                </tr>
                                                <tr>
                                                    <td>Время</td>
                                                    <td>12423598</td>
                                                </tr>
                                                <tr>
                                                    <td>Квест пройден</td>
                                                    <td>ДА</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- end of team card -->



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg tophotos" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        <a href="javascript:;" class="slides-close" ng-click="test(bigPhoto)"  ng-show="bigPhoto">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            к списку фото
                        </a>
                        Фото с топами команды UXP82A21
                    </h4>
                </div>
                <div class="modal-body">

                    <div class="photo col-md-3 col-sm-4 col-xs-6" ng-repeat="item in [1,2,3,4,54,56,67]" ng-click="test($scope.bigPhoto);" ng-show="!bigPhoto">
                        <img src="http://138.68.84.25:8000/media/photos/got-back-from-a-conference.jpg" class="img-responsive">
                    </div>

                    <!--
                    <div class="col-sm-12" ng-click="test(bigPhoto)" ng-show="bigPhoto">
                        <a href="javascript:;" ng-click="test(bigPhoto)"></a>
                        <img src="http://138.68.84.25:8000/media/photos/got-back-from-a-conference.jpg" class="img-responsive">
                    </div>
-->

                    <div class="clearfix"></div>



                    <div id="myCarousel" class="carousel slide" data-ride="carousel" ng-show="bigPhoto">

                        <!--                        <a href="javascript:;" class="slides-close" ng-click="test(bigPhoto)"><i class="glyphicon glyphicon-chevron-left"></i> к списку фото</a>-->

                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="http://138.68.84.25:8000/media/photos/got-back-from-a-conference.jpg" alt="Chania">
                            </div>

                            <div class="item">
                                <img src="http://138.68.84.25:8000/media/photos/got-back-from-a-conference.jpg" alt="Chania">
                            </div>

                            <div class="item">
                                <img src="http://138.68.84.25:8000/media/photos/got-back-from-a-conference.jpg" alt="Flower">
                            </div>

                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>



                </div>

            </div>
        </div>
    </div>


</body>

</html>
